@import "tailwindcss";

html,
body {
    min-width: 100dvw;
    overflow-x: hidden;
}

img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ol,
li {
    list-style: none;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}